@charset "UTF-8";

@media only screen and (max-width: 500px) {
  /*MOBILE settings*/
  #center {
    margin: auto;
    text-align: center;
  }
  .block {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    text-align: justify;
  }
  body {
    background-color: #36454f;
    font-family: 'Paytone One', sans-serif;
    color: #ffffff;
  }
  .fontsize {
    font-size: 15pt;
    text-align: center;
  }
  footer {
    text-align: center;
    color: #ffffff;
  }
  .gallery {
    margin: auto;
    width: 100%;
    column-count: 2;
    column-width: 180px;
    text-align: center;
}
  header img {
    width: 75%;
    height: 75%;
  }
  .mainborder {
    border-top: 20px solid #e34b20;
    border-bottom: 20px solid #e34b20;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mainfont {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    /*font-size: 10pt;*/
  }
  ul {
    list-style-type: none;
    text-align: left;
  }
}

@media only screen and (min-width: 501px) {
  /*TABLET settings*/

  #center {
    margin: auto;
    text-align: center;
  }
  .block {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

  body {
    background-color: blue;
    font-family: 'Paytone One', sans-serif;
    color: #ffffff;
  }
  .fontsize {
    font-size: 25pt;
    text-align: center;
  }
  footer {
    float: left;
    color: #ffffff;
  }
  .gallery {
    margin: auto;
    width: 75%;
    /*column-count: 5;*/
    text-align: center;
    padding: 50px 25px 50px 25px;
  }
  h1 {
    text-align: center;
  }

header img {
    width: 75%;
    height: 75%;
}

  .mainborder {
    border-top: 20px solid #e34b20;
    border-bottom: 20px solid #e34b20;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mainfont {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15pt;
  }
  ul {
    list-style-type: none;
  }

  @media only screen and (min-width: 1024px) {
    /*DESKTOP settings*/
    #center {
      margin: auto;
      text-align: center;
    }
    .block {
      margin-left: auto;
      margin-right: auto;
      width: 1000px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    body {
      background-color: skyblue;
      font-family: 'Paytone One', sans-serif;
      color: #ffffff;
    }
    .fontsize {
      font-size: 25pt;
      text-align: center;
    }
    footer {
      float: left;
      color: #ffffff;
    }
    .gallery {
      margin: auto;
      width: 75%;
      /*column-count: 5;*/
      text-align: center;
      padding: 50px 25px 50px 25px;
    }
    h1 {
      text-align: center;
    }

header img {
        width: 75%;
        height: 75%;
}

    .mainborder {
      border-top: 20px solid #e34b20;
      border-bottom: 20px solid #e34b20;
      padding-left: 10px;
      padding-right: 10px;
    }
    .mainfont {
      font-family: 'Raleway', sans-serif;
      color: #ffffff;
      font-size: 15pt;
    }
    ul {
      list-style-type: none;
    }
  }
