@charset "UTF-8";

/*ul {
    border: 1px solid black;
}*/

.block {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: #36454f;
    font-family: 'Paytone One', sans-serif;
    color: #ffffff;
}

.fontsize {
    color: ;
    font-size: 25pt;
}

footer {
    float: left;
    color: #ffffff;
}

header {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 700px;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 50px 0 50px 0;
}

.mainborder {
    border-top: 20px solid #e34b20;
    border-bottom: 20px solid #e34b20;
    padding-left: 10px;
    padding-right: 10px;
}

.mainfont {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15pt;
}

.margin {
    font-size: 15pt;
    padding-left: 40px;
}

ul {
    list-style-type: none;
    justify-content: center;
}
